<h3>Make your guess!</h3>

<form [formGroup]="form" (ngSubmit)="makeGuess()">
  <select name="" formControlName="color1" >
    <option value="R" style="background-color: red;">Red</option>
    <option value="B" style="background-color: blue;">Blue</option>
    <option value="G" style="background-color: green">Green</option>
    <option value="Y" style="background-color: yellow;">Yellow</option>
    <option value="O" style="background-color: orange;">Orange</option>
    <option value="P" style="background-color: purple;">Purple</option>
  </select>
  <select name="" formControlName="color2" >
    <option value="R" style="background-color: red;">Red</option>
    <option value="B" style="background-color: blue;">Blue</option>
    <option value="G" style="background-color: green">Green</option>
    <option value="Y" style="background-color: yellow;">Yellow</option>
    <option value="O" style="background-color: orange;">Orange</option>
    <option value="P" style="background-color: purple;">Purple</option>
  </select>
  <select name="" formControlName="color3" >
    <option value="R" style="background-color: red;">Red</option>
    <option value="B" style="background-color: blue;">Blue</option>
    <option value="G" style="background-color: green">Green</option>
    <option value="Y" style="background-color: yellow;">Yellow</option>
    <option value="O" style="background-color: orange;">Orange</option>
    <option value="P" style="background-color: purple;">Purple</option>
  </select>
  <select name="" formControlName="color4" >
    <option value="R" style="background-color: red;">Red</option>
    <option value="B" style="background-color: blue;">Blue</option>
    <option value="G" style="background-color: green">Green</option>
    <option value="Y" style="background-color: yellow;">Yellow</option>
    <option value="O" style="background-color: orange;">Orange</option>
    <option value="P" style="background-color: purple;">Purple</option>
  </select>
  <button type="submit">Submit</button>
</form>
