<form [formGroup]="form" (ngSubmit)="processDelivery()">
  <table>
    <tr>
      <td>Name:</td>
      <td>
        <input type="text" size="30" formControlName="name">
        <div *ngIf="hasError('name')">
          <span>Please enter your name</span>
        </div>

      </td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <input type="text" size="30" formControlName="address">
        <div *ngIf="hasError('address')">
          <span>Please enter your address</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="email" size="30" formControlName="email"></td>
    </tr>
    <tr>
      <td>Delivery Date:</td>
      <td><input type="date" size="30" formControlName="deliveryDate"></td>
    </tr>
    <tr>
      <td>Session:</td>
      <td>
        AM<input type="radio" name="session" value="AM" formControlName="session">
        PM<input type="radio" name="session" value="PM" formControlName="session">
      </td>
    </tr>

    <tr>
      <td>Options:</td>
      <td>
        Insurance <input type="checkbox" formControlName="insurance">
      </td>
      <td>
        Priority <input type="checkbox" formControlName="priority">

      </td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td>
        <textarea name="" id="" cols="30" rows="3" formControlName="comments"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p>Invalid: {{ form.invalid }}, Valid: {{ form.valid}}</p>
        <p>Pristine: {{ form.pristine }}, Dirty: {{ form.dirty}}</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="isFormValid">Place order</button>
        <button type="button" (click)="addItem()">Add item</button>
      </td>
    </tr>
  </table>

  <div *ngIf="itemArray.length>0; else noItems">

  </div>
  <h2>Items</h2>
  <table formArrayName="orderItems">
    <tr *ngFor="let it of itemArray.controls; let i = index" [formGroupName]="i">
      <td>
        <input type="text" placeholder="Order" formControlName="item">
      </td>
      <td>
        <input type="number" placeholder="Qty" formControlName="quantity">
      </td>
      <td>
        <button (click)="deleteItem(i)">X</button>
      </td>
    </tr>
  </table>
</form>

<ng-template #noItems>
  <h2>Your order has no item</h2>
</ng-template>
